div{
    background-color:rgba(190, 219, 217, 0.6);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    

}
h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}