<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!----
<div class="padding">
    <div class="col-md-8">
        
        
        <div class="card"> <img class="card-img-top" src=".\assets\th.jpg" alt="Card image cap">
            <div class="card-body little-profile text-center">
                <div class="pro-img"><img src=".\assets\IMG_20200707_161010_401.jpg" alt="user"></div>
                <h3 class="m-b-0">Xavi Sinduja</h3>
                <p>Developer</p> -->
                <section class="vh-100" >
                    <div class="container py-5 h-100">
                      <div class="row d-flex justify-content-center align-items-center h-100">
                        <div class="col col-md-9 col-lg-7 col-xl-5">
                          <div class="card" style="border-radius: 15px;">
                            <div class="card-body p-4">
                              <div class="d-flex text-black">
                                <div class="flex-shrink-0">
                                  <img src=".\assets\IMG_20200707_161010_401.jpg"
                                    alt="Generic placeholder image" class="img-fluid"
                                    style="width: 180px; border-radius: 10px;">
                                </div>
                                <div class="flex-grow-1 ms-3">
                                  <h5 class="mb-1">Xavi Sinduja</h5>
                                  <p class="mb-2 pb-1" style="color: #2b2a2a;">CEO of SKYBUS</p>
                                  <div class="d-flex justify-content-start rounded-3 p-2 mb-2"
                                    style="background-color: #efefef;">
                                    
                                </div>
                <p>Contact Details</p>
                   <ul class="social-icons d-flex justify-content-center">
                            
                                            <a href="https://www.facebook.com/aranka.xavi?mibextid=ZbWKwL" >
                                                <span class="fa fa-facebook"></span>
                                            </a>
                                        
                                        
                                            <a href="https://wa.me/qr/ONQ6WAD4R3XLD1">
                                                <span class="fa fa-whatsapp"></span>
                                            </a>
                                        
                                        
                                            <a href="https://instagram.com/sinduja_clinton?igshid=MGNiNDI5ZTU=">
                                                <span class="fa fa-instagram"></span>
                                                </a>
                                                    <a href="ms.xavisindu@gmail.com">
                                                        <span class="fa fa-envelope"></span>
                                            </a>
                                            <a href="9080416697">
                                                <span class="fa fa-phone"></span>
                                    </a>
                                        
                                           
                                
        
                        