body{
    background-image: url("C:\Users\Clinton\OneDrive\Desktop\angularproject\busManagement\src\assets\generic_banner_Ind-bus.png");
    background-repeat: no-repeat;
    background-size: cover;
}
