div{
    color: rgb(17, 14, 23);
font-style: oblique;
font-size: xxx-large;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
width: 100%;
margin: 18%;
margin-right: 55%;

}
img{
    margin-right: 30%;
    padding-top: 10;
    image-resolution: 50;
}